@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--bg-primary: #242424;
}

/* @media (prefers-color-scheme: none) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	background: var(--bg-primary);
}

@layer components {
	.heroButton {
		@apply px-6 py-2 border border-bg-primary rounded-full 
		uppercase text-xs tracking-widest text-gray-500 transition-all 
		hover:border-primary hover:text-primary;
	}

	.contactInput {
		@apply outline-none bg-slate-400/10 border-b px-6 py-4 border-bg-primary
		text-gray-500 placeholder-gray-500 transition-all focus:border-primary/40
		focus:text-white rounded-sm hover:border-primary/40 hover:text-primary/90;
	}

	.customScrollbar {
		@apply scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-primary/80;
	}
	.customGrid {
		display: grid;
		grid-template-columns: repeat(4, minmax(64px, 1fr));
	}

	.scroller::-webkit-scrollbar {
		display: none;
	}
}
